*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar{
    height: 50px;
    width: 100%;
    background-color: rgb(193, 210, 224);
}
.logo img{
    height: 40px;
    width: 60px;
    float: right;
    line-height: 50px;
}
.nav-links{
    text-decoration: none;
    float: right;
    display: inline;
}
.nav-links li{
    display: inline;
    padding: 0 20px;
}