*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar{
    height: 50px;
    width: 100%;
    background-color: rgb(193, 210, 224);
}
.logo img{
    height: 40px;
    width: 80px;
    float: right;
    line-height: 50px;
    margin-right: 20px;
}
.nav-links{
    text-decoration: none;
    float: right;
    display: inline;
}
.nav-links li{
    display: inline;
    padding: 0 20px;
    text-decoration: none;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-right: 30px;
}