*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar{
    height: 50px;
    width: 100%;
    background-color: rgb(193, 210, 224);
    box-shadow: 0 0 12px black;
}
.logo img{
    height: 40px;
    width: 80px;
    float: right;
    line-height: 50px;
    margin-right: 20px;
    margin-top: 4px;
}
.nav-links{
    text-decoration: none;
    float: right;
    display: inline;
}
.nav-links li{
    display: inline;
    padding: 0 20px;
    text-decoration: none;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-right: 30px;
}
nav ul li a:hover{
    color: blue;
}
.icons{
    margin-left: 120px;
}
.icons input{
    float: left;
    border-radius: 6px;
    width: 80px;
}